<div class="message">
	<% Entry.all.each do |c| %>
		<div class="name">
			<%= link_to c.chatroom_id, :action => 'show', :id => c.id %>
			<%= link_to c.user_id, :action => 'show', :id => c.id %>
		</div>
		<div class="messagetext">
			<p><%= link_to c.message, :action => 'show', :id => c.id %></p>
		</div>
	<% end %>
</div>