<h1>Chatrooms Lists</h1>
<br/>
 <h2>Join an Existing Chatroom</h2>
<ul>
  <% for @chatroom in @chatrooms %>
   <li>
      <%= link_to @chatroom.name, @chatroom %>
   </li>
  <% end %>
</ul>
<br/>
<h2>Start a new Chatroom</h2>
  <%= render :partial => 'form' %>

<% $end %>
<br/>
<%= link_to 'Back', :action => 'index' %>

