/* reset css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style:none
}
/********************************************************************************
*                            ELEMENT SPECIFIC STYLES                           *
*********************************************************************************/
body                { background:none repeat scroll 0 0 #000; font-family:Arial, Helvetica, sans-serif; padding:0; margin:0; min-width:960px; }
p                   { font-size:12px; }
ol, ul              { list-style: none; margin:0; padding:0; }
a:link, a:hover, 
a:visited           { text-decoration:none; }

/*---------------------------reset code----------------------------*/
.clear              { clear:both;}



/********************************************************************************
*                            TEMPLATE SPECIFIC STYLES                           *
*********************************************************************************/

/*--------------------------- Wrappers Start ----------------------------*/
#body_wrap          { background:none repeat scroll 0 0 #2A1D15; }
.wrap               { height:inherit; width:960px; margin:0 auto; color:#EEE; }
/*--------------------------- Wrappers End----------------------------*/





/*---------------------------Header Start---------------------------*/
.header             { height:50px; background-color:#2A1D15; }
.top_container h2   { float:left; }
#logo               { height:150px; width:150px; }
/*---------------------------Header End---------------------------*/


/*---------------------------Navigation Menus Start---------------------------*/
.nav                { padding:0; margin:0 }
.nav li             { display:inline; float:left; }
.nav li a           { display:block; color:#EEE; }
.nav li a:hover,
#homePage #nav_home,
#page2 #nav_page2,
#page3 #nav_page3,
#page4 #nav_page4,
#page5 #nav_page5    { color:#FFAA00; background:none repeat scroll 0 0 #1E1713;}
/*---------------------------Navigation Menus End---------------------------*/



/*---------------------------Top Nav Start---------------------------*/
#top_nav            { float:left; border-bottom:thin groove #EEE; }
#top_nav li a       { float:left; font-size:18px; font-weight:normal; height:50px; line-height:50px; padding:0 15px; margin-top:75px; }
/*---------------------------Top Nav End---------------------------*/








/*---------------------------Middle Start ----------------------------*/
.middle             {  }


/*---------------------------Middle End----------------------------*/




/*---------------------------Main Container Start ----------------------------*/
.main_container     { }
/*---------------------------Main Container End----------------------------*/






/*---------------------------Left Column Start---------------------------*/
.column_left        { float:left; height:400px; width:560px; background-color:#B7AE9D; }
.column_left h3, 
.column_left p      { margin:20px 80px; }
/*---------------------------Left Column End---------------------------*/





/*---------------------------Right Column Start---------------------------*/
.column_right       { float:left; height:400px; width:400px; background-color:#353555; }
.column_right h3,
.column_right p     { margin:20px 80px; }
/*---------------------------Right Column End---------------------------*/


/*---------------------------Footer Start---------------------------*/
.footer             { height:40px; }
.footer_container   { float:right; }


/*---------------------------Footer End---------------------------*/


/*---------------------------Footer Nav Start---------------------------*/
#foot_nav           { margin:0 auto; }
#foot_nav li a      { float:left; font-size:11px; font-weight:normal; height:40px; line-height:40px; margin:0; padding:0 15px; }
/*---------------------------Footer Nav End---------------------------*/



/********************************************************************************
*                            PAGE SPECIFIC STYLES                               *
*********************************************************************************/


/*---------------------------Inner Page_Index Start---------------------------*/

/*---------------------------Showcase Container Start ----------------------------*/
.showcase           { height:400px; background:none repeat scroll 0 0 #121011; }
.showcase .wrap     { border:thin dotted #AAA; }
.showcase h1        { font-size:48px; color:#E3A357; margin:20px 80px; }
/*---------------------------Showcase Container End----------------------------*/

/*---------------------------Inner Page_Index End---------------------------*/



/*---------------------------Inner Page2 Start---------------------------*/

/*---------------------------Inner Page2 End--------------------------*/




/*---------------------------Inner Page3 Start---------------------------*/

/*---------------------------Inner Page3 End--------------------------*/





/*---------------------------Inner Page4 Start---------------------------*/

/*---------------------------Inner Page4 End--------------------------*/





/*---------------------------Inner Page5 Start---------------------------*/

/*---------------------------Inner Page5 End--------------------------*/





/*---------------------------Inner Page6 Start---------------------------*/

/*---------------------------Inner Page6 End--------------------------*/
