* { padding: 0; margin: 0; outline: 0; }

body, html { height: 100%; }

body {
    background: #e1e5e8;
    font-family: "Georgia", Tahoma, Sans-Serif;
    font-size: 12px;
    line-height: 18px;
    color: #888;
}
input, textarea, select { font-family: "Georgia", Tahoma, Sans-Serif; font-size:12px; }
.field { padding: 4px 5px; border: solid 1px #e7e7e7; color: #969696; height: 15px; }
.field-focused { color: #333; }
input.button { padding: 4px 5px; cursor: pointer; }

a { color: #45c7ee; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

h2 { font-size: 19px; line-height: 1; font-weight: normal; color: #464646; font-family: "Trebuchet MS", Tahoma, Sans-Serif; margin-bottom: 5px; }

p { padding-bottom: 18px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.cl { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

#page { width: 874px; margin: 0 auto; }
#page { padding: 0 28px; min-height: 100%; height: auto !important; height: 100%; background:url("../images/bg.gif") repeat-y scroll 0 0 transparent; }

#top { padding: 20px 0 16px; }

#logo { float: left; display: inline; width: 400px; font-size: 0; line-height: 0; }
#logo a { display: block; height: 150px; text-indent: -4000px; background: url(../images/monkeyLogo.png); }

#search { float: right; display: inline; padding-top: 18px; width: 227px; }
#search .field-holder { float: left; display: inline; width: 196px; background: url(../images/search-field.gif) no-repeat 0 0; padding: 1px; }
#search .field { width: 186px; border: 0; background: none; }
#search .button { float: right; display: inline; width: 25px; height: 25px; font-size: 0; line-height: 0; text-indent: -4000px; }
#search .button { background: url(../images/search-button.gif) no-repeat 0 0; border: 0; }

#navigation { height: 38px; background: url(../images/navigation.gif) no-repeat; padding: 8px 10px 6px; margin-top: 16px; }
#navigation ul { font-size: 13px; line-height: 38px; text-transform: capitalize; }
#navigation ul li { float: left; display: inline; list-style-type: none; padding-right: 2px; }
#navigation ul li a { float: left; display: inline; color: #fff; text-decoration: none; padding-left: 17px; }
#navigation ul li a span { float: left; display: inline; padding-right: 17px; background-position: right 0 !important; }
#navigation ul li a:hover,
#navigation ul li a.active,
#navigation ul li a:hover span,
#navigation ul li a.active span { color: #717171; background: url(../images/nav-active.gif) no-repeat 0 0; }

#header { padding-bottom: 10px; }

#slider { height: 327px; background: url(../images/slider.png) no-repeat 0 0; position: relative; -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 0px; -webkit-border-radius: 10px;  -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.25); }
#slider .slider-nav a { display: block; width: 18px; height: 49px; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 120px; }
#slider .slider-nav a.prev { left: 0; background: url(../images/button-prev.gif); }
#slider .slider-nav a.next { right: 0; background: url(../images/button-next.gif); }

#slider-holder { height: 327px; }
#slider-holder .jcarousel-clip { height: 327px; width: 874px; position: relative; overflow: hidden; }
#slider-holder .slide-image { float: right; display: inline; }
#slider-holder .slide-info { float: left; display: inline; width: 424px; padding-top: 23px; }
#slider-holder .slide-info p { padding-bottom: 8px; }
#slider-holder ul { width: 874px; height: 327px; position: relative; overflow: hidden; }
#slider-holder ul li { list-style-type: none; float: left; display: inline; height: 267px; width: 712px; padding: 56px 108px 4px 54px; position: relative; overflow: hidden; }

#main { display:inline-block; float: none; border-top: solid 1px #e3e7e9; margin:0; padding:12px 0; }

h2.slide1 {height:94px; background-image:url('../images/index-sliding1.gif'); margin-top:-30px;}
h2.slide2 {height:120px; background-image:url('../images/index-sliding2.gif'); margin-top:-30px;}
h2.slide3 {height:120px; background-image:url('../images/index-sliding3.gif'); margin-top:-30px;}
h3.txt-monkey-again { background-image: url('../images/txt-monkey-again.gif'); }
h3.txt-wedothis { background-image: url(../images/txt-wedothis.gif); }
h3.txt-247 { background-image: url(../images/txt-247.gif); }

.button-more { display: block; width: 66px; height: 22px; font-size: 0; line-height: 0; text-indent: -4000px; background: url(../images/button-more.gif) no-repeat 0 0; }
.more { padding-left: 10px; background: url(../images/arr.gif) no-repeat 0 center; }

.cols { padding: 15px 0 10px; }
.cols .col { float: left; display: inline; }
.cols .col-last { margin-right: 0 !important; }
.cols .col h3.notext { height: 45px; margin-bottom: 5px; }

.three-cols .col { width: 264px; margin-right: 41px; }
.two-cols .col { width: 420px; margin-right: 34px; }

.two-cols { float:left; border-top:1px solid #E3E7E9; }
.two-thirds-cols { float:left; width: 550px; padding-right: 0px; margin-right: 32px; }
.two-thirds-cols .col { width:100%; }
.one-third-cols { float:left; width: 291px; padding-right: 0px; margin-right: 0px; } }

#footer { height: 41px; background: url(../images/footer.gif) no-repeat 0 0; line-height: 41px; padding: 10px 10px 10px 22px; color: #fff; }
#footer p { padding-bottom: 0; }
#footer a { color: #fff; text-decoration: none; }
#footer a:hover { color: #237087; }
#footer span { margin: 0 6px; }



/********************************************************************************
*                            PAGE SPECIFIC STYLES                               *
*********************************************************************************/
body, #support { background-color:#E6E2D9; }
#page { background: url("../images/background-page.png") repeat-x scroll 0 0 #FFFFFF; -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px; -moz-box-shadow:0 5px 20px rgba(0, 0, 0, 0.75); }
#navigation, #footer { width:910px; height: 38px; background:none; background-color:#3D3E34; padding: 8px 10px 6px; margin-left: -28px; -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 10px; -moz-box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.50); }
#support #slider { background:none;  -webkit-box-shadow: rgba(0, 0, 0, 0.0) 0px 3px 5px 0px; -webkit-border-radius: 10px;  -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.0); }
#navigation ul li a:hover, #navigation ul li a.active, #navigation ul li a:hover span, #navigation ul li a.active span { background:none; background-color:#E6E2D9; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

/*************************** HOME PAGE START ************************************/
#home { background-color:#E6E2D9; }

/*---------------------------One-Third Container Start ----------------------------*/
#sign-container { background:url("../images/back.png") repeat scroll 0 0 #3D3E34; -webkit-box-shadow: rgba(0, 0, 0, 0.746094) 0px 10px 20px; -webkit-border-radius: 10px;  -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75); }
.sign-content { margin:15px; min-height:250px; display: block; color:#DDDDDD; }
#sign-container h1 { color:#009933; font-family:AppleGothic,CenturyGothic,sans-serif; margin:0; padding:20px 0 10px 30px; text-align:left; background-color:#202217; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0px 0px; }
form { font:1.0em "Lucida Grande",Lucida,Verdana,sans-serif; padding-left:15px; }

#sign-container label { clear:left; display:block; float:left; font-weight:bold; line-height:1.2em; padding:right:4px; text-align:right; width:100; margin-top:10px; }
#sign-container .user-input { font-family:Futura,AppleGothic,CenturyGothic,sans-serif; background-color:#E8E8E8; color:#DDDDDD; border:1px inset #5F5F5F; font-size:1em; margin:2px; min-height:20px; padding:2px; width:220px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#sign-container .user-button { background:url("../images/send.png") no-repeat scroll center top transparent; border:0 none; clear:both; color:#FFFFFF; cursor:pointer; font-size:1em; font-weight:bold; height:41px; margin:12px 0 0 0; position:relative; text-align:center; vertical-align:middle; width:110px; }
#sign-container .contact-button:hover, #sign-container .contact-button:focus { background:url("../images/send.png") no-repeat scroll center -41px transparent; }
#sign-container .contact-button:active { background:url("../images/send.png") no-repeat scroll center -82px transparent }

/*FIREFOX*/
#sign-container {}
/*SAFARI/CHROME*/
#sign-container { }
/*---------------------------One-Third Container End-------------------------------*/

/*---------------------------Two-Third Container Start-----------------------------*/
#newImage { margin-left:-50px;}
.subheading {
	font-family: "Courier New", Courier, monospace;
	font-weight:bolder;
	color:#006600;
	font-size:large;
	width:500px;
}
.content {
	font-family: Garamond, serif;
	color:#808080;	
	font-size:x-small;
	line-height:normal;
	padding:10px;
}

.list {
	list-style-image:url('../images/correct.jpg');
	margin-left:100px;
}

.list a{
	text-decoration:none;
	color:#808080;	
}

.list a:hover{
	background-color:#CCFFCC;
}
/*---------------------------Two-Third Container End-------------------------------*/



/*---------------------------------Two cols Start----------------------------------*/
.two-cols .colTwo { width: 370px; margin-right: 50px; }

.colFrame {
  	display:block !important;
  	-moz-border-radius: 10px 10px 10px 10px;
  	-webkit-border-radius: 10px 10px 10px 10px;
  	background: none repeat scroll 0 0 #00CC66;
  	padding:20px;
  	min-height:250px;
  	width:335px;
  	margin-left:10px;
}

.colFrame h2 {
	border-bottom:1px #999999 solid;
	padding-bottom:10px;
	font-weight:bold;
	color:#666666;
}

.colFrame ul {
	list-style:none outside none;
	margin:10px -10px 10px 0;
	padding:0;
}

.colFrame li {
	display: inline;
	float:left;
	margin:0 8px 0 8px;
	padding:0;
	position:relative;
	width:50px;
	height:70px;
}

.colFrame .learnMore {
	color:blue;
	font-size:x-small;	
}
/*----------------------------------Two cols End-----------------------------------*/


/*----------------------------------Slide Image pic-----------------------------------*/
#slider-holder .slide-imageindex { float: right; display: inline; width:400px; height:400px; margin-top:-270px; margin-right:-100px;}
#slider-holder .slide-infoindex { float: left; display: inline; width: 424px; padding-top: 23px; font-size:xx-small;}
#slider-holder .slide-infoindex p { padding-bottom: 8px; }
/*----------------------------------Slide Image end-----------------------------------*/


/*----------------------------------Slide Image text-----------------------------------*/
h2.slide1Index {height:94px; background-image:url('../images/index-sliding1.gif'); margin-top:-30px;}
h2.slide2Index {height:120px; background-image:url('../images/index-sliding2.gif'); margin-top:-30px;}
h2.slide3Index {height:120px; background-image:url('../images/index-sliding3.gif'); margin-top:-30px;}
/*----------------------------------Slide Image text end-----------------------------------*/


/***************************** HOME PAGE END ************************************/



/*---------------------------Support Page Start-----------------------------------*/

/*---------------------------Header Container Start ----------------------------*/
#slider-holder .slider-support-info { float:left; display:inline; width:712px; padding-top: 0px; }
#slider-holder .support-image { float: left; display: inline; }
#slider-holder .support-text  { float:left; width:383px; margin-left:50px; }
h2.txt-need-help { height: 94px; background-image: url(../images/txt-looking-for-support.png); }
/*---------------------------Header Container End-------------------------------*/
/*---------------------------Two-Thirds Container Start ----------------------------*/
#support .txt-support { list-style:none; background: #eee; margin:0px 0 20px; padding:10px; -webkit-border-radius: 0 0 4px 4px;  -moz-border-radius: 0 0 4px 4px; color: #333; }
#support .two-thirds-cols h2 { margin:0; padding:5px 10px; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#EEE'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#EEE)); /* for webkit browsers */
background: -moz-linear-gradient(center top,  #CCC,  #EEE); /* for firefox 3.6+ */

}
#support .two-thirds-cols h3 { margin-top:10px; }
#support .two-thirds-cols h3 a { color: #464646; font-family: "Trebuchet MS", Tahoma, Sans-Serif; text-decoration:none; }
#support .two-thirds-cols h3 a:hover, #support .two-thirds-cols h3.active a { color:#FF5500; }
#support .two-thirds-cols h3.active { background-position: left bottom;}
.acc_container { overflow: hidden; }

/*---------------------------Two-Thirds Container End-------------------------------*/
/*---------------------------One-Third Container Start ----------------------------*/
#contact-container { background:url("../images/back.png") repeat scroll 0 0 #3D3E34; -webkit-box-shadow: rgba(0, 0, 0, 0.746094) 0px 10px 20px; -webkit-border-radius: 10px;  -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75); }
.contact-content { margin:15px; min-height:370px; display: block; color:#DDDDDD; }
#contact-container h1 { color:#FF5500; font-family:AppleGothic,CenturyGothic,sans-serif; margin:0; padding:20px 0 10px 30px; text-align:left; background-color:#202217; -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0px 0px; }
form { font:1.0em "Lucida Grande",Lucida,Verdana,sans-serif; padding-left:15px; }

#contact-container label { clear:left; display:block; float:left; font-weight:bold; line-height:1.2em; padding:right:4px; text-align:right; width:100; margin-top:10px; }
#contact-container .contact-input { font-family:Futura,AppleGothic,CenturyGothic,sans-serif; background-color:#E8E8E8; color:#DDDDDD; border:1px inset #5F5F5F; font-size:1em; margin:2px; min-height:20px; padding:2px; width:220px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#contact-container .contact-button { background:url("../images/send.png") no-repeat scroll center top transparent; border:0 none; clear:both; color:#FFFFFF; cursor:pointer; font-size:1em; font-weight:bold; height:41px; margin:12px 0 0 0; position:relative; text-align:center; vertical-align:middle; width:110px; }
#contact-container .contact-button:hover, #contact-container .contact-button:focus { background:url("../images/send.png") no-repeat scroll center -41px transparent; }
#contact-container .contact-button:active { background:url("../images/send.png") no-repeat scroll center -82px transparent }

/*FIREFOX*/
#contact-container {}
/*SAFARI/CHROME*/
#contact-container { }
/*---------------------------One-Third Container End-------------------------------*/

/*---------------------------Support Page End------------------------------------*/


/*---------------------------Login Page start------------------------------------*/
.three-cols .col2 {
    width: 800px;
    margin-right: auto;
}

/*---------------------Log in Block--------------------------*/
#logBlock{
    width: 850px;
    margin: 0 auto;
}

#topBlock{
width:845px;
margin:0 auto;
background-color:#EBE588;
color:inherit;
padding-left:25px;
height:100%;
overflow:auto;

}

#BotBlock{
width:870px;
margin:0 auto;
background:url('../images/bottom_roundBg.gif') no-repeat 0 bottom;
height:24px;
float:left;
}

.spacer{
padding:0;
margin:0;
font-size:0;
line-height:0;
clear:both;
}
/*---------------------Log in Form--------------------------*/

form.one{
width:400px;
float:left;
padding:0 0 0 14px;
}

form.one label{
font-size:12px;
line-height:16px;
color:#A9B100;
background-color:inherit;
font-weight:bold;
float:left;
padding:5px 113px 10px 0;

}
form.one input.txtfield{
width:140px;
height:40px;
font-size:40px;
color:#A9B100;
background-color:#EBE588;
float:left;
border:solid 1px #EBE589;
margin:0 9px 0 0;

}
form.one input.logButt{
background:url('../images/login.gif') no-repeat 0 0;
width:71px;
height:50px;
cursor:pointer;
border:none;
padding:53px 0 0 71px;
float:left;
}

/*---------------------Log in Register--------------------------*/

p.register{
font-size:16px;
line-height:18px;
float:left;
padding:18px 0 0 110px;
width:410px;
}


p.register{
font-size:16px;
line-height:18px;
float:left;
padding:18px 0 0 110px;
width:400px;
}
p.register span{
display:block;
font-size:24px;
line-height:24px;

padding-top:13px;
}
p.register span a{
color:#AB2C05;
background-color:inherit;
}

p.register span a:hover{
text-decoration:underline;
}

/*---------------------Log in Right Pannel--------------------------*/

#fashionBlock{
width:307px;
float:left;
}
.fashion{
background:url('../images/fashionspot_bg.jpg') no-repeat 0 0;
width:307px;
height:105px;
margin:3px 0 0 0;
}
h2.fashionPot{
font:normal 24px/24px Georgia, "Times New Roman", Times, serif;
color:#141C10;
background-color:inherit;
padding:16px 0 0 132px;
}
p.fashiontxt{
color:#A6A04D;
background-color:inherit;
line-height:11px;
padding:3px 0 0 132px;
width:126px;
}
p.fashiontxt span{
color:#AB2C05;
background-color:inherit;
}
.teenwindow{
background:url('../images/teen_window.jpg') no-repeat 0 0;
width:307px;
height:106px;
}

/*---------------------Log in Pannel--------------------------*/
#userLog{
width:515px;
height:193px;
border:solid 6px #C3BD66;
background:url('../images/flower.gif') no-repeat 0 bottom #DED879;
padding:10px 0 0 10px;
color:#3A3E24;
float:left;
}
#userLog p.user{
background:url('../images/e16_img.gif') no-repeat 0 0;
width:94px;
height:82px;
float:left;
}



/*---------------------------Login Page End------------------------------------*/

/*---------------------------Site Map Page Start------------------------------------*/
#footer #smbuton {
    color: #FF0000;
    text-decoration: blink;
}

/*---------------------------Site Map Page End------------------------------------*/

/*---------------------------About Us Page End------------------------------------*/
#abtus{
	width: 874px;
	height: 327px;
	float: none;
	background-image: url('../images/about_us_hdr.jpg');
}

#abtus h2{
	text-decoration: blink;
	position: inherit;
	padding-top: 60px;
	padding-left: 80px;
	font-family: "Comic Sans MS";
	font-size: 50px;
}
/*---------------------------About Us Page End------------------------------------*/

