/* reset css */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style:none
}

/********************************************************************************
*                            TEMPLATE SPECIFIC STYLES                           *
*********************************************************************************/
body, html { height: 100%; }

body {
    font-family: "Georgia", Tahoma, Sans-Serif;
    font-size: 12px;
    line-height: 18px;
    color: #888;
    background-color:#E6E2D9;
}
input, textarea, select { font-family: "Georgia", Tahoma, Sans-Serif; font-size:12px; }
.field { padding: 4px 5px; border: solid 1px #e7e7e7; color: #969696; height: 15px; }
.field-focused { color: #333; }
input.button { padding: 4px 5px; cursor: pointer; }

a { color: #45c7ee; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }
a img { border: 0; }

h2 { font-size: 19px; line-height: 1; font-weight: normal; color: #464646; font-family: "Trebuchet MS", Tahoma, Sans-Serif; margin-bottom: 5px; }

p { padding-bottom: 18px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.cl { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; background-repeat: no-repeat; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }

#page { width: 1000px; margin: 0 auto; background: url("../images/background-page.png") repeat-x scroll 0 0 #FFFFFF; }
#page { padding: 0 0px; min-height: 100%; height: auto !important; height: 100%; }
#page { -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px; -moz-box-shadow:0 5px 20px rgba(0, 0, 0, 0.75); }

#top { padding: 20px 0; }

#logo { float: left; display: inline; width: 420px; font-size: 0; line-height: 0; padding:0 20px; }
#logo a { display: block; height: 155px; text-indent: -4000px; background: url(../images/monkeyLogo.png) no-repeat 0 0; }

#search { float: right; display: inline; padding:0 20px; width: 227px; }
#search .field-holder { float: left; display: inline; width: 196px; background: url(../images/search-field.gif) no-repeat 0 0; padding: 1px; }
#search .field { width: 186px; border: 0; background: none; }
#search .button { float: right; display: inline; width: 25px; height: 25px; font-size: 0; line-height: 0; text-indent: -4000px; }
#search .button { background: url(../images/search-button.png) no-repeat 0 0; border: 0; }

#navigation { width:960px; height: 38px; background:none repeat scroll 0 0 #3D3E34; margin-top:16px; padding: 8px 20px 6px; }
#navigation { -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 10px; -moz-box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.50); }

#navigation ul { font-size: 13px; line-height: 38px; text-transform: capitalize; }
#navigation ul li { float: left; display: inline; list-style-type: none; padding:0 2px; }
#navigation ul li a { float: left; display: inline; color: #fff; text-decoration: none; padding:0 8px; }
#navigation ul li a span { float: left; display: inline; width:60px; text-align:center; background-position: right 0 !important; }
#navigation ul li a:hover, 
#navigation ul li a.active, 
#navigation ul li a:hover span, 
#navigation ul li a.active span { color: #717171; background:none; background-color:#E6E2D9; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

#header { padding:0 44px; }


#slider { margin:0 20px; height: 327px; background: url(../images/slider.png) no-repeat 0 0; position: relative; -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 0px; -webkit-border-radius: 10px;  -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.25); }
#slider .slider-nav { height:60px; overflow:hidden; }
#slider .slider-nav a { display: block; width: 18px; height: 60px; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 120px; }
#slider .slider-nav a.prev { left: 0; background: url(../images/slideshow_left_tab.png) no-repeat 0 0; }
#slider .slider-nav a.next { right: -7px; background: url(../images/slideshow_right_tab.png) no-repeat 0 0; }
#slider .slider-nav a:hover{ }

#slider-holder { height: 327px; }
#slider-holder .jcarousel-clip { height: 327px; width: 874px; position: relative; overflow: hidden; }
#slider-holder .slide-image { float: right; display: inline; }
#slider-holder .slide-info { float: left; display: inline; width: 424px; padding-top: 23px; }
#slider-holder .slide-info p { padding-bottom: 8px; }
#slider-holder ul { width: 874px; height: 327px; position: relative; overflow: hidden; }
#slider-holder ul li { list-style-type: none; float: left; display: inline; height: 267px; width: 712px; padding: 56px 108px 4px 54px; position: relative; overflow: hidden; }

#main { display:inline-block; float: none; border-top: solid 1px #e3e7e9; margin:20px; padding:20px; }

h3.txt-monkey-again { background-image: url('../images/txt-monkey-again.gif'); }
h3.txt-wedothis { background-image: url(../images/txt-wedothis.gif); }
h3.txt-247 { background-image: url(../images/txt-247.gif); }

.button-more { display: block; width: 66px; height: 22px; font-size: 0; line-height: 0; text-indent: -4000px; background: url(../images/button-more.gif) no-repeat 0 0; }
.more { padding-left: 10px; background: url(../images/arr.gif) no-repeat 0 center; }

.cols { padding: 15px 0 10px; }
.cols .col { float: left; display: inline; }
.cols .col-last { margin-right: 0 !important; }
.cols .col h3.notext { height: 45px; margin-bottom: 5px; }

.three-cols .col { width: 280px; margin-right: 40px; }
.two-cols .col { width: 440px; margin-right: 40px; }

.two-cols { float:left; border-top:1px solid #E3E7E9; }
.two-thirds-cols { float:left; width: 560px; padding: 0px; margin: 0px; }
.two-thirds-cols .col { width:100%; }
.one-third-cols { float:left; width:320px; padding:0px; margin:0 0 0 40px; }

#footer { width:1000px; height: 31px; line-height:31px; background:none repeat scroll 0 0 #3D3E34; color: #DDD; padding:0px; }
#footer { -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px; -moz-box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.75); }
#footer p { padding-bottom: 0; }
#footer a { color: #DDD; text-decoration: none; }
#footer a:hover { color: #FF5500; }
#footer div { display:inline-block; padding:0; }
#footer-right { width:240px; float:right; text-align:center; }
#footer-center { width:520px; text-align:center; }
#footer-left { width:240px; float:left; }
#footer span { margin: 0 6px; }



/********************************************************************************************
*                            FORM STYLES                                                    *
*********************************************************************************************/

    form                               { font:1.0em "Lucida Grande",Lucida,Verdana,sans-serif; }
    label.error                        { float:none; display:block; color:#FF4200; padding-left:0.5em; vertical-align:top; margin-top:2px !important; }
    
    
    /*----------------------------------Search Index Form ----------------------------------*/
    #searchIndex                        { float: right; display: inline-block; padding-top: 0; width: 230px; }
    #searchIndex .field-Index           { width: 186px; border: 0 none; background: none; color: #969696; }
    #searchIndex .field-holder-Index    { float:right; width: 196px; background: url(../images/search-field.gif) no-repeat 0 0; padding: 1px; margin-right:7px; }
    #searchIndex .button-Index          { float:right; width: 25px; height: 25px; font-size: 0; line-height: 0; text-indent: -4000px; }
    #searchIndex .button-Index          { background: url(../images/search-button.png) no-repeat 0 0; border: 0; }
    #searchIndex .sign-in               { padding:5px; float:left; padding-right: 20px; }
    #searchIndex .sign-up               { float:left; padding:5px; padding-right:20px; }
    #searchIndex a, 
    #searchIndex a:hover, 
    #searchIndex .sign-in > input       { color :#666666; font-size:14px; font-family: "Georgia", Tahoma, Sans-Serif; text-decoration:none; font-weight:bold; -webkit-border-radius: 5px;  -moz-border-radius: 5px 5px 5px 5px; }
    #searchIndex a:hover                { background-color:#00FF00; }
    
    
    /*----------------------------------Contact Us Form ---------------------------------------*/
    #contact-form                       { font:1.0em "Lucida Grande",Lucida,Verdana,sans-serif; padding-left:20px; }
    #contact-form label                 { clear:left; display:block; float:left; font-weight:bold; line-height:1.2em; padding-right:4px; width:100px; margin-top:10px; }
    #contact-form .contact-input        { font-family:Futura,AppleGothic,CenturyGothic,sans-serif; background-color:#E8E8E8; color:#333333; border:1px inset #5F5F5F; font-size:1em; margin:2px; min-height:20px; padding:2px; width:220px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
    #contact-form .contact-button       { background:url("../images/send.png") no-repeat scroll center top transparent; border:0 none; clear:both; color:#FFFFFF; cursor:pointer; font-size:1em; font-weight:bold; height:41px; margin:12px 2px 20px 2px; position:relative; text-align:center; vertical-align:middle; width:110px; }
    #contact-form .contact-button:hover, 
    #contact-form .contact-button:focus { background:url("../images/send.png") no-repeat scroll center -41px transparent; }
    #contact-form .contact-button:active{ background:url("../images/send.png") no-repeat scroll center -82px transparent }
    
    #signup-form label.error            { width:200px; }

/********************************************************************************
*                            PAGE SPECIFIC STYLES                               *
*********************************************************************************/


/*************************** HOME PAGE START ************************************/
        /*---------------------------Two-Third Container Start-----------------------------*/
        #home #main             { border:none; }
        .list                   { list-style-image:url('../images/correct.jpg'); margin-left:100px; }
        .list a                 { text-decoration:none; color:#808080; }
        .list a:hover           { background-color:#55E1BB; } /* CCFFCC; } */
        /*---------------------------Two-Third Container End-------------------------------*/
        /*---------------------------------Two cols Start----------------------------------*/
        .colFrame               { display:block !important;  background: url("../images/members_bg.png") repeat scroll 0 0 #00CC66; padding:20px; min-height:250px; width:335px; margin:0 auto; }
        .colFrame               { -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow:0 5px 20px rgba(0, 0, 0, 0.75); -webkit-border-radius: 10px 10px 10px 10px; -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 20px;}
        .colFrame h2.headText   { border-bottom:1px #999999 solid; padding-bottom:5px; font-weight:bold; color:#666666; }
        .colFrame ul            { list-style:none outside none; margin:10px -10px 10px 0; padding:0; }
        .colFrame li            { display: inline; float:left; margin:0 8px 0 8px; padding:0; position:relative; width:50px; height:70px; }
        .colFrame2              { margin:0 auto; }
        .headTextAdd            { padding-top:15px; font-weight:bolder; font-size:22px; }
        .chatRoomsList0, 
        .chatRoomsList1, 
        .chatRoomsList2, 
        .chatRoomsList3, 
        .chatRoomsList4         { font-family: Garamond, serif; color:#808080; font-size:x-small; max-height:240px; float:left; }
        .chatRoom               { border-bottom:1px #C0C0C0 solid; height:75px; padding:5px; width:370px; }
        img.chatRoom            { float:left; width:60px; height:60px; vertical-align:middle; margin-right:10px; border:none; }
        h2.roomTitle            { margin-top:10px; }
        /*----------------------------------Two cols End-----------------------------------*/
        /*----------------------------------Slide Image pic-----------------------------------
        #slider-holder .slide-imageindex    { float: right; display: inline; width:400px; height:400px; margin-top:-270px; margin-right:-100px;}
        #slider-holder .slide-infoindex     { float: left; display: inline; width: 424px; padding-top: 23px;}
        #slider-holder .slide-infoindex p   { padding-bottom: 8px; }*/
        #slider-holder .slide-imageindex    { float: left; width:200px; height:400px; margin-top:-30px; }
        #slider-holder .slide-infoindex     { float: left; display: inline; width: 424px; padding-top: 23px;}
        #slider-holder .slide-infoindex p   { padding-bottom: 8px; }
        .jcarousel-item-3-horizontal img    { margin:20px 0 0 10px !important; }
        /*----------------------------------Slide Image end-----------------------------------*/
        /*----------------------------------Slide Image text-----------------------------------*/
        h2.slide1Index {height:94px; background-image:url('../images/index-sliding1.png'); margin-top:-30px;}
        h2.slide2Index {height:120px; background-image:url('../images/index-sliding2.png'); margin-top:-30px;}
        h2.slide3Index {height:120px; background-image:url('../images/index-sliding3.png'); margin-top:-30px;}
        /*----------------------------------Slide Image text end-----------------------------------*/
/***************************** HOME PAGE END ************************************/
    
    
/***************************** SUPPORT PAGE START ************************************/
        /*---------------------------Header Container Start ----------------------------*/
        #support #feature                           { height:200px; padding:50px 56px; }
        #support .support-image                     { float: left; display: inline; }
        #support .support-text                      { float:left; width:383px; margin:35px 0 0 80px; }
        h2.txt-need-help                            { height: 94px; background-image: url(../images/txt-looking-for-support.png); }
        /*---------------------------Header Container End-------------------------------*/
        /*---------------------------Two-Thirds Container Start ----------------------------*/
        #support .txt-support                       { list-style:none; background: #eee; margin:0px 0 20px; padding:10px; -webkit-border-radius: 0 0 4px 4px;  -moz-border-radius: 0 0 4px 4px; color: #333; }
        #support .two-thirds-cols                   { min-height:515px; }
        #support .two-thirds-cols h2                { margin:0; padding:5px 10px; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#EEE'); /* for IE */
                                                        background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#EEE)); /* for webkit browsers */
                                                        background: -moz-linear-gradient(center top,  #CCC,  #EEE); /* for firefox 3.6+ */ }
        #support .two-thirds-cols h3                { margin-top:10px; }
        #support .two-thirds-cols h3 a              { color: #464646; font-family: "Trebuchet MS", Tahoma, Sans-Serif; text-decoration:none; }
        #support .two-thirds-cols h3 a:hover, 
        #support .two-thirds-cols h3.active a       { color:#FF5500; }
        #support .two-thirds-cols h3.active         { background-position: left bottom;}
        .acc_container                              { overflow: hidden; }
        /*---------------------------Two-Thirds Container End-------------------------------*/
        /*---------------------------One-Third Container Start ----------------------------*/
        #contact-container                          { background:url("../images/back.png") repeat scroll 0 0 #3D3E34; }
        #contact-container                          { -webkit-box-shadow: rgba(0, 0, 0, 0.746094) 0px 10px 20px; -webkit-border-radius: 10px;  
                                                      -moz-border-radius: 10px 10px 10px 10px; -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75); }
        #contact-container h1                       { color:#FF5500; font-family:AppleGothic,CenturyGothic,sans-serif; font-size:20px; margin:0; padding:20px 0 10px 40px; text-align:left; background-color:#202217; 
                                                      -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0px 0px; }
        .contact-content                            { margin:15px; min-height:370px; display: block; color:#DDDDDD; }
        /*---------------------------One-Third Container End-------------------------------*/
/***************************** SUPPORT PAGE END ************************************/


/***************************** SITEMAP PAGE START ************************************/
/***************************** SITEMAP PAGE END ************************************/


/***************************** ABOUTUS PAGE START ************************************/
        #abtus{
            width: 874px;
            height: 327px;
            float: none;
            margin:0 auto;
            background-image: url('../images/about_us_hdr.jpg');
        }
        
        #abtus h2{
            text-decoration: blink;
            position: inherit;
            padding-top: 60px;
            padding-left: 80px;
            font-family: "Comic Sans MS";
            font-size: 50px;
        }
/***************************** ABOUTUS PAGE END ************************************/


/***************************** SIGNUP PAGE START ************************************/
        #otherres   { display: none }
        .main-col   { width: 350px; float:right; margin-left: 200px }
        .top        { float: left }
        .userin     { margin-top: 20px }
/***************************** SIGNUP PAGE END ************************************/


