<section id="aboutUs">
<!-- Header -->
  <header id="header" >
    <!-- Slider -->
		<aside id="abtus">
			<h2 id="talkfont" style="">Talk!</h2>
		</aside>
		<!-- JS code start -->
		<script type="text/javascript">
      		myfunc();
    	</script>
		<!-- JS codes END -->
    <!-- END Slider -->
  </header>
  <!-- END Header -->
  
  <!-- Main Article -->
  <article id="main">
    <!-- Three Column Section -->
    <section class="cols three-cols">
      <header class="cl">&nbsp;</header>
      <article class="col">
        <h2>What is MonkeyTalk?</h2>
        <h3 class="notext txt-monkey-again">MONKEY AGAIN</h3>
        <p>Learn English online by practicing with a native speaker who is learning your language.</p>
        <p>Write and read daily and real English online to improve grammar or conversation.</p>
      </article>
      <article class="col">
        <h2>Monkey Services</h2>
        <h3 class="notext txt-wedothis">WE DO THIS AND THAT....</h3>
        <p>A language exchange complements other forms of learning such as classroom, cultural immersion and multimedia, because you get to practice all that you have learned with native speakers in a safe and supportive environment. </p>
        <p>Language exchange learning is also inexpensive because we provide free tips and conversation lesson plans that allow you to do a language exchange on your own.</p>
      </article>
      <article class="col col-last">
        <h2>Monkey Origins</h2>
        <h3 class="notext txt-247">24/7 YES REALLY...</h3>
        <p>We provide free, helpful guidelines and tips on how to do a language exchange, as well as free lesson plans designed by an expert in language exchange learning. The activities are fun so you can easily "break the ice" with your new learning partner and get effective practice.</p>
		<p>In short, you have everything you need to practice and learn English via a language exchange. </p>
      </article>
      <footer class="cl">&nbsp;</footer>
    </section>
    <!-- END Three Column Section -->
    <!-- Two Column Section -->
    <section class="cols two-cols">
      <header class="cl">&nbsp;</header>
      <article class="col">
        <h2>Why Monkey?</h2>
        <p>One of the things that makes Learn English different to your average website is the input you can have to its content and the accessiblity of its owner (yours truly).</p> 
        <p>You can do this in several ways:-</p>
		<p>Multimedia software and the Internet has revolutionised language learning and by using the excellent iVisit service we can now have real-time conversations.</p>
		<p>Just remember - "If you can't say anything nice, don't say anything at all." </p>
      </article>
      <article class="col col-last">
        <h2>Monkey is FREE</h2>
        <p>Before you begin practicing, please read the free guideline, How To Do A Language Exchange for hints on doing an effective language exchange.</p>
        <p>If no one is in the Live English Chat room on the forum, you could try finding other English speakers in the English for Friendship group:- </p>
      	<p>Find an English language exchange partner now, and have fun! </p>
      </article>
      <footer class="cl">&nbsp;</footer>
    </section>
    <!-- END Two Column Section -->
  </article>
  <!-- END Main -->
</section>  