<section id="home">
<!-- Header -->
  <header id="header">
    <!-- Slider -->
    <section id="slider">
      <article id="slider-holder">
        <ul>
          <li>
            <figcaption class="slide-info">
              	<h2 class="notext slide1Index">Chat With Different People From Different Country</h2>
              <p>
                <b>DIVERSITY MATTERS</b> <br/>
                Make new friends from Australia, USA, Japan, India,
  South Africa, Korea, China, Italy and more!!<br/>
                <br/>
                <br/>
                <b>LEARN ENGLISH ... MAKE FRIENDS ...</b>     
              </p>
              <!--<a href="#" class="button-more">More</a> -->
            </figcaption>
            <figure class="slide-imageindex"> 
            	<img src="images/globe.png" alt="Reference:http://deviantart.com" /> 
        	</figure>
          </li>
          <li>
            <figcaption class="slide-infoindex">
              <h2 class="notext slide2Index">Create Chatroom OR Join Existing Room</h2>
              <p> <br/>
                <b>CREATE</b> your own chatroom just by following some simple steps.
                Or you can <b>JOIN</b> an existing chatroom. 
              </p>
             <!-- <a href="#" class="button-more">More</a> --> 
             </figcaption>
            <figure class="slide-imageindex"> 
            	<img src="images/chatroom.png" alt="chatroom.png" /> 
        	</figure>
          </li>
          <li>
            <figcaption class="slide-infoindex">
              <h2 class="notext slide3Index">Update File, Image, Audio and Video</h2>
              <p>
                <b>SHARE</b> audio, video, files with friends <br/>
               <b>TRY IT NOW .. and HAVE FUN WITH FRIENDS ... </b>     
              </p>
              <!--<a href="#" class="button-more">More</a>--> 
              </figcaption>
            <figure class="slide-imageindex"> 
            	<img src="images/media_img.png" alt="Reference: Icons:Scott Copeland, www.nimbus-media.com" style="margin-right:-10px; margin-top:-50px;"/> 
        	</figure>
          </li>
        </ul>
      </article>
      <figure class="slider-nav"> 
      	<a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> 
  	  </figure>
    </section>
    <!-- END Slider -->
  </header>
  <!-- END Header -->
  <!-- Main Section -->
  <section id="main">
  <!-- Two Column Content -->
    <section class="cols two-cols">
      <span class="cl">&nbsp;</span>
      <article class="col">
        <div class="colFrame list">
            <h2 class="headText">MonkeyTalk's Monkeys</h2>
            <ul>
                <li><img src="images/member/6a00d09e63602bbe2b00d41429b992685e-50si.jpg" alt="http://teenchat.groups.vox.com"/></li>
                <li><img src="images/member/teen2.jpg" alt="http://www.foxnews.com"/></li>
                <li><img src="images/member/teen3.jpg" alt="http://www.bigmoneyarcade.com"/></li>
                <li><img src="images/member/teen4.jpg" alt="http://www.bigmoneyarcade.com"/></li>
                <li><img src="images/member/teen5.gif" alt="http://www.bigmoneyarcade.com"/></li>
                <li><img src="images/member/teen6.jpg" alt="http://www.bigmoneyarcade.com"/></li>
                <li><img src="images/member/teen7.jpg" alt="http://teenfire.ning.com"/></li>
                <li><img src="images/member/teen8.jpg" alt="http://teenfire.ning.com"/></li>
                <li><img src="images/member/teen9.jpg" alt="http://teenfire.ning.com"/></li>
                <li><img src="images/member/teen10.jpg" alt="teen10"/></li>
                <li><img src="images/member/teen11.jpg" alt="http://www.yourteenager.co.uk"/></li>
                <li><img src="images/member/teen13.jpg" alt="http://www.yourteenager.co.uk"/></li>
                <li><img src="images/member/teen14.jpg" alt="http://teenfire.ning.com"/></li>
                <li><img src="images/member/teen15.jpg" alt="http://www.yourteenager.co.uk"/></li>
                <li><img src="images/member/teen17.jpg" alt="http://www.yourteenager.co.uk"/></li>
            </ul>
        </div>
      </article>
      <article class="col col-last">
        <div class="colFrame2">
            <header><h2 class="headText headTextAdd" >Top Chatrooms:</h2></header>
            
            <section id="chatRoomsList0"  class="chatRoomsList0" style="display:none;">
                <article class="chatRoom">
                    	<img  class="chatRoom" src="images/ChatRoomListPic/Sun.jpg" alt="http://www.google.com.au/images"/>
                    	<h2 class="roomTitle"> Good Morning Monkeys </h2>
                    	<p> 105 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/179-1-50.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Speed Up Your English</h2>
                    	<p> 18 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/cam.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> English Movies </h2>
                    	<p> 200 People</p>
                </article>
            </section>  
            
            <section id="chatRoomsList1"  class="chatRoomsList1" style="display:none;">
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/images.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Smile and Speak English </h2>
                    	<p> 80 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/game.png" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Monkey Hobbies </h2>
                    	<p> 35 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/monkey.gif" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> MonkeyTalk Favourite ChatRoom </h2>
                    	<p> 250 People</p>
                </article>
            </section>  
            
            <section id="chatRoomsList2"  class="chatRoomsList2" style="display:none;">
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/music.png" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> English Music </h2>
                    	<p> 89 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/nevergiveup.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Never Give Up </h2>
                    	<p> 125 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/panda.png" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Random Chat Room </h2>
                    	<p> 25 People</p>
                </article>
            </section>   
            
            <section id="chatRoomsList3"  class="chatRoomsList3" style="display:none;">
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/people.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Diversity Chat Room </h2>
                    	<p> 75 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/question.png" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Help  </h2>
                    	<p> 5 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/world.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> World Chat </h2>
                    	<p> 350 People</p>
                </article>
            </section>  
            
            <section id="chatRoomsList4"  class="chatRoomsList4" style="display:none;">
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/thumb up.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Successfull Learners </h2>
                    	<p> 180 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/video1.gif" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Weekend Activities</h2>
                    	<p> 34 People</p>
                </article>
                <article class="chatRoom">
                		<img  class="chatRoom" src="images/ChatRoomListPic/people1.jpg" alt="http://www.google.com.au/images"/>
                		<h2 class="roomTitle"> Hey All Members!!</h2>
                    	<p> 220 People</p>
                </article>
            </section>
        </div>    
      </article>
      <span class="cl">&nbsp;</span>
      &nbsp;
    </section>
  </section>
  <!-- END Main -->
</section>