<section id="support">
<!-- Header -->
  <header id="header">
    <!-- Slider -->
    <aside id="feature">
      <!-- Div here before -->
        <figure class="support-image"> 
        	<img src="images/supportImg.png" alt="Reference: http://disneydvd.disney.go.com/monsters-inc.html" />      	
    	</figure>
        <figcaption class="support-text">
        	<hgroup>
            	<h2 class="notext txt-need-help">Looking for Support?</h2>
            	<h2>Look no further!</h2>
            </hgroup>
        </figcaption>
      <!-- Closing Div here before -->
    </aside>
    <!-- END Feature -->
  </header>
  <!-- END Header -->
  <!-- Main Article-->
  <article id="main">
    <details>
  		<p>Select the question you need help with below. Please check through the FAQs carefully as your question may already have been answered. If we haven't provided an answer, you may contact us using the form on the right.
  		</p>
  	</details>
    <!-- Two-Thirds Column Content -->
    <section class="cols two-thirds-cols">
      <span class="cl">&nbsp;</span>
      <!-- 1st Section -->
      <section class="col">
        <header>
        	<h2>Signing Up and Logging In</h2>
        </header>
        <ul class="txt-support">
          <li>
            <h3 class="acc_trigger"><a href="#">How do I sign-up?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>You can sign up for a MonkeyTalk membership by
                clicking on the Sign Up tab in the navigation
                bar. Then simply fill out all the required forms and
                click the submit button.</p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">My citizenship is
                not listed in the sign up page!</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>In this case, select the '--Other--' option in
                the 'Citizenship:' drop down menu. A text field will
                appear in which you can type in your citizenship. </p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">Why do I have to type
                in that funny text at the end?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>This is to ensure that you are a human! Online
                spammers make a habit of writing automated scripts to
                sign up for as many differents sites as they can. This
                is one of the ways they spread spam. By typing in the
                verification text, you are letting us know that you
                are a human and not some script written by a spammer!</p>
                </div>
            </article>
          </li>
        </ul>
      </section>
      <!-- 1st Section END-->
      
      <!-- 2nd Section -->
      <section class="col">
        <header> <h2>Joining a Chat Room</h2> </header>
        <ul class="txt-support">
          <li>
            <h3 class="acc_trigger"><a href="#">What is a chat room?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">How do I join a chat room?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">How many chat rooms
                are there?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
        </ul>
      </section>
      <!-- 2nd Section END-->
      
      <!-- 3rd Section -->
      <section class="col">
        <header><h2>Community</h2></header>
        <ul class="txt-support">
          <li>
            <h3 class="acc_trigger"><a href="#">Someone is being rude
                in the chat rooms. How do I report them?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">I want to meet some of
                my friends in person. Can we exchange contact details?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
          <li>
            <h3 class="acc_trigger"><a href="#">No one will talk to
                me. How do I make more friends?</a></h3>
            <article class="acc_container">
                <div class="block">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
                </div>
            </article>
          </li>
        </ul>
      </section>
      <!-- 3rd Section END-->
      <span class="cl">&nbsp;</span>
    </section>
    <!-- END Two-Thirds Column Content -->
    <!-- One-Third Column Content -->
    <aside class="cols one-third-cols">
      <div id="contact-container" name="contact-container">
        <header><h1 class="contact-title">Contact Us:</h1></header>
        <div class="contact-content">
            <form id="contact-form" action="#">
                <div>
                    <label for="cname">&#42;Name:</label>
                    <input id="cname" type="text" name="name" class="contact-input" tabindex="2000" />
                </div>
                <div>
                    <label for="cemail">&#42;Email:</label>
                    <input id="cemail" type="text" name="email" class="contact-input" tabindex="2010" />
                </div>
                <div>
                    <label for="contact-subject">&nbsp;Subject:</label>
                    <input id="contact-subject" type="text" value="" name="subject" class="contact-input" tabindex="2020" />
                </div>
                <div>
                    <label for="ccomment">&#42;Message:</label>
                    <textarea id="ccomment" rows="4" cols="40" name="comment" class="contact-input" tabindex="2030" ></textarea>
                </div>
                <div>
                    <button class="contact-send contact-button" type="submit" tabindex="2040">Send</button>
                    <button class="contact-cancel contact-button simplemodal-close" type="submit" tabindex="2050" >Cancel</button>
                </div>
            </form>
         </div>
      </div>
    </aside>
    <!-- END One-Third Column Content -->
    <!-- Two Column Section -->
    <section class="cols two-cols">
      <span class="cl">&nbsp;</span>
      <article class="col">
        <h2>What do you think of MonkeyTalk?</h2>
        <p>We here at MonkeyTalk are committed to providing a high
                quality service to our members. This means
                meeting the demands of our users and constantly
                refining our service based on user feedback.</p>
        <p>So if you don't like something, please let us know! If you
                do like something, let us know as well! Your feedback
                is invaluable. If we don't know something is broken,
                we can't fix it!</p>
        <p><a href="#contact-container" class="more" onclick="feedback();">Leave Feedback</a></p>
      </article>
      <article class="col col-last">
        <h2>Want to make a donation?</h2>
        <p>MonkeyTalk has always, and will always be a free-to-use
                service. We do not have any advertising on our site,
                and rely entirly in donations to continue running.</p>
        <p>So don't be a mooch and send us your donation, however
                large. Every dollar helps!</p>
        <p><a href="javascript:donate()" class="more">Make Donation</a></p>
      </article>
      <span class="cl">&nbsp;</span>
    </section>
    <!-- END Two Column Content -->
  </article>
  <!-- END Main Article-->
</section>