<!-- Section Tour-->
<section id="main">
  <!-- Three Column Article -->
  <article class="cols three-cols">
    <span class="cl">&nbsp;</span>
    <div id="under_construction">
      <figure class="col">
        <img src="images/construct.gif" alt="under-construction-image" />
      </figure>

      <figcaption class="col col-last">
        <h2>The Tour page is still under construction</h2>
       	<p>This page is a temporary placeholder for a MonkeyTalk Tour
	page. The page will present the user with a list of features
	and benefits of using MonkeyTalk</p>
        <p><%= link_to "<span>I don't need a tour! Sign me up now!</span>", signup_path, :class => 'topnav_links more' -%></p>
      </figcaption>
    </div>
      <span class="cl">&nbsp;</span>
  </article>
  <!-- END Three Column Article -->

  <!-- Two Column Section -->
  <section class="cols two-cols">
    <span class="cl">&nbsp;</span>

    <article class="col">
      <h2>Member Benefits</h2>
      <p>Exclusive access to all general MonkeyTalk
	chatrooms, as well as chatrooms started by their friends.</p>
      <p>A persistant friend list, as well as the ability to
	download and share images, video and audio.</p>
      <p>And remember, all MonkeyTalk features are FREE!</p>
    </article>

    <article class="col col-last">
      <h2>What they are saying about MonkeyTalk...</h2>
      <p>''MonkeyTalk played a huge part in helping me pass
	english. And I made a bunch of friends as well!'' - dogboy56</p>
      <p>''MonkeyTalk has replaced my friends and family!!!'' - moNkEymaN203</p>
      <p>''I used to have a job, car, house and several girlfriends,
	but now that I've discovered MonkeyTalk I've realized that
	reality is cheap!!'' - 1n33dh3Lp</p>
    </article>

    <span class="cl">&nbsp;</span>
  </section>
  <!-- END Two Column Section -->

</section>
<!-- END Sectin Tour -->